<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Orl4ne ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        body {
            color: black;
            background-color: white;
            background-image: url(/Content/images/Library-image.jpg);
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
        @*<a class="navbar-brand" href="#">My Media Application</a>*@
        <a>@Html.ActionLink("My Media Library", "Index", "Home", new object { }, new { @class = "text-light navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Welcome", "Index", "Home", new object { }, new { @class = "text-light" })</li>*@
                <li>@Html.ActionLink("Library", "Index", "Media", new object { }, new { @class = "text-light" })</li>
            </ul>
        </div>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Best Media Library Ever", "Index", "Media", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <main class="h-100 container body-content">
        @RenderBody()
    </main>

    <footer class="container bg-primary text-light fixed-bottom">
        &copy; @DateTime.Now.Year - Orl4ne ASP.NET Application
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
